html,body{
  margin: 0;
  padding: 0;
  background-color: darkblue;
}

h1{
  line-height: normal;
  color: aqua;
  font-size: 5vw;
  text-decoration: underline;
  text-align: center;
  font-family: cursive;
}

input{
  height: 7vh;
  width: 30vw;
  margin: 2vw;
  font-size: large;
}
button{
  height: 7vh;
  width: 7vw;
  font-size: large;
  border: none;
  border-radius: 10%;
  background-color: aqua;
  color: azure;
  font-weight: 100;
}
li{
  font-size: 4vh;
  color: white;
}
.list{
  padding-left: 2vw;
}